.notfound__container {
  margin: 4em 0;
  align-self: center;
}

.notfound__svg {
  width: 75%;
  height: auto;
}

.notfound__title {
  font-size: 1.5rem;
  margin: 0.5em auto;
  text-align: center;
}

.notfound__back-home {
  display: inline-flex;
  align-items: flex-end;
  color: $clr-txt-secondary;
}

.notfound__back-home i {
  font-size: 2rem;
  margin-right: 0.25em;
}

@media (min-width: $screen-md) {
  .notfound__svg {
    width: 35%;
    height: auto;
  }

  .notfound__title {
    font-size: 2rem;
    margin: 0.5em auto;
    text-align: center;
  }
}
