.loading-page-container {
  margin: 4em 0;
  align-self: center;
}

.loading-page__svg {
  width: 75%;
  height: auto;
  margin-bottom: 2em;
}

@media (min-width: $screen-md) {
  .loading-page__svg {
    width: 50%;
    height: auto;
  }
}
