.loading__container {
  flex: 1 1 auto;
  margin: 4em auto;
  align-self: center;
}

.loading__svg {
  width: 75%;
  height: auto;
  margin-bottom: 2em;
}

@media (min-width: $screen-md) {
  .loading__svg {
    width: 50%;
    height: auto;
  }
}
