.nav-toggle {
  grid-area: nav-toggle;

  font-size: $fs-36;
  color: white;

  cursor: pointer;
}

.mobile-nav__content {
  display: grid;
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;

  background-color: white;
  width: 65%;
  max-width: 350px;
  height: 100vh;
}

.mobile-nav__content::-webkit-scrollbar {
  display: none;
}

.mobile-nav {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100vw;
  min-height: 100vh;

  transform: translateX(-100%);
  transition: all 0.5s;

  &.active {
    transform: translateX(0);

    .mobile-nav__blank {
      background-color: rgba($color: #000000, $alpha: 0.8);
    }
  }
}

.mobile-nav__blank {
  background-color: transparent;
  flex-grow: 1;
  height: 100vh;
  transition: all 0.5s;
}

.mobile-nav__header,
.mobile-nav__footer {
  padding: 1em;
  align-items: center;
  justify-content: space-between;

  & a,
  & * {
    color: white;
  }
}

.mobile-nav__btn-close {
  text-align: center;
  flex-basis: content;
  font-size: $fs-24;
  color: $clr-primary-300;
  line-height: 1;

  background-color: black;
  padding: 0.125em 0.35em;
  border-radius: 5px;

  cursor: pointer;
}

.mobile-nav__main {
  width: 100%;
  height: 100%;
  background: url('../../assets/images/bg_sidebar.jpg');
  background-size: cover;
  background-position: left;

  overflow-y: scroll;
}

.mobile-category-list li {
  margin: 0.75em;
  padding: 0.75em 1.5em;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px grey;
}

.mobile-category-list__link {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 700;
}

.mobile-category-list__link i {
  font-size: $fs-26;
  margin-right: 0.5em;
}

.mobile-nav__user {
  align-items: center;
  margin-right: auto;
}

.mobile-nav__user-avatar {
  margin-right: 0.5em;
}

.mobile-nav__user span {
  font-weight: 400;
}

.mobile-nav__footer .bx-log-out {
  font-size: $fs-30 !important;
  position: relative;
  top: 0.125em;
}

.mobile-user {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999998;

  width: 100%;
  height: 60px;
  background-color: $clr-primary-300;
  box-shadow: $box-shadow;
  justify-content: space-around;
  align-items: center;

  // border-radius: 20px 20px 0 0;
}

.mobile-user__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  // text-shadow: 0 0 5px white;

  i {
    font-size: $fs-26;
  }

  span {
    font-size: 0.875em;
  }
}

.mobile-user__item.active {
  color: white;
  text-shadow: 0 0 10px black;
}

.mobile-nav__btn-signout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav__btn-signout i {
  font-size: $fs-30;
}

.mobile-nav__btn-signout span {
  font-size: 0.8rem;
}

.mobile-nav__btn-signup {
  background-color: black;
  color: $clr-primary-300 !important;
  border-radius: 15px;
  padding: 0.25em 0.75em;
}

.mobile-nav__btn-signin i {
  font-size: $fs-30;
  margin-right: 0.125em;
}

@media (max-width: 800px) {
  .mobile-nav__content {
    width: 80%;
  }
}

@media (min-width: $screen-lg) {
  .mobile-view {
    display: none;
  }

  .mobile-user {
    display: none;
  }
}
