.chip-input__control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.chip-input__input-box {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: white;

  padding: 0.75em 1em 0.75em 2em;
  border-radius: 5px;
  border: 2px solid transparent;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
}

.chip-input__input-box > i {
  position: absolute;
  left: 0.5em;
  top: 1.125em;

  font-size: $fs-18;
  font-weight: 300;
  color: $clr-txt-secondary;
}

.chip-input__input-box:focus-within {
  border: 2px solid $clr-primary-300;
}

.chip-input__chip-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.chip-input__chip {
  display: inline-flex;
  align-items: center;

  padding: 0.25em 0.5em 0.25em 0.75em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  background-color: #ddd;
  border-radius: 5px;

  cursor: pointer;
  transition: all 0.3s;
}

.chip-input__chip i {
  font-size: $fs-22;
  margin-left: 0.25em;
}

.chip-input__chip.active {
  background-color: $clr-primary-300;
  color: black;
}

.chip-input__chip-item {
  display: inline-flex;
  align-items: center;

  padding: 0.25em 0.75em;
  border-radius: 5px;

  cursor: pointer;
  transition: all 0.3s;

  background-color: $clr-primary-300;
  color: black;
}

.chip-input__chip-item i {
  font-size: $fs-22;
  margin-left: 0.25em;
}

.chip-input__input {
  outline: none;
  border: none;
  padding: 0.75em 0.25em;
}

@media (min-width: $screen-md) {
  .chip-input__control {
    flex-direction: row;
    align-items: center;
  }

  .chip-input__control.flex-start {
    align-items: flex-start;
  }
}
