/* form_v1 */
.form__control {
  display: flex;
  flex-direction: column;

  margin-bottom: 1em;
  width: 100%;
}

.form__input-box {
  display: flex;
  align-items: center;

  position: relative;
}

.form__input-box i {
  position: absolute;
  left: 0.5em;

  font-size: $fs-18;
  font-weight: 300;
  color: $clr-txt-secondary;
}

.form__input--text {
  font-family: inherit;
  font-size: inherit;

  padding: 0.75em 1em 0.75em 2em;

  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  box-shadow: $box-shadow;
}

.form__show-password {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 3.5em;
  top: 30%;

  cursor: pointer;
}

.form__label--hidden {
  position: absolute;
  left: 3em;
  top: 35%;

  font-size: 0.8em;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-40%);
  transition: all 0.3s;
}

.form__input--text:not(:placeholder-shown) ~ .form__label--hidden {
  top: 0;
  left: 1em;
  visibility: visible;
  opacity: 1;
  font-size: 0.75rem;
  background: linear-gradient(to top, transparent, white 60%, transparent);
}

.form-select {
  width: 100%;
  font: inherit;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  box-shadow: $box-shadow;
}

/* form_v2 */
.form-v2__control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-v2__input-box {
  display: flex;
  flex-direction: column;
  position: relative;

  flex: 1 1 auto;
}

.form-v2__input-box i {
  position: absolute;
  left: 0.5em;
  top: 0.8em;
  z-index: 1;

  font-size: $fs-18;
  font-weight: 300;
  color: $clr-txt-secondary;
}

.form-v2__input--text {
  font-family: inherit;
  font-size: inherit;

  padding: 0.75em 1em 0.75em 2em;

  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  box-shadow: $box-shadow;

  background-color: white;
}

.form-v2__input--textarea {
  font-family: inherit;
  font-size: inherit;

  padding: 0.75em 1em 0.75em 2em;

  width: 100%;
  min-height: 60px;
  border-radius: 5px;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  box-shadow: $box-shadow;
}

.form-v2__input--text:disabled {
  background-color: rgb(238, 238, 238);
}

.form-v2__cb-options,
.form-v2__radio-options {
  display: flex;
}

.form-v2__cb-options.row,
.form-v2__radio-options.row {
  flex-direction: row;
}

.form-v2__cb-options.column,
.form-v2__radio-options.column {
  flex-direction: column;
}

.form-v2__cb-item,
.form-v2__radio-item {
  display: flex;
  align-items: center;
}

.form-v2__cb-item label,
.form-v2__radio-item label {
  margin-left: 0.5em;
}

.form-v2__cb-item.reverse label,
.form-v2__radio-item.reverse label {
  order: 1;
  margin-left: 0;
  margin-right: 0.5em;
}

.form-v2__cb-item.reverse input,
.form-v2__radio-item.reverse input {
  order: 2;
}

/* general */
textarea::placeholder,
input::placeholder {
  font-style: italic;
  font-size: 0.8rem;
}

.form__error {
  font-style: italic;
  font-size: 0.9rem;
  color: $clr-danger;
}

// @media (max-width: 374px) {
//   .form-input__text {
//     padding: 0.25em 0.5em;
//     margin-bottom: 0.75em;
//   }
// }

@media (min-width: $screen-md) {
  .form-v2__control {
    flex-direction: row;
    align-items: center;
  }

  .form-v2__control.flex-start {
    align-items: flex-start;
  }

  .form-v2__input-box.flex-start {
    align-items: flex-start;
  }
}
