.product-details__container {
  flex: 1 1 auto;
}

.product-details {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-areas:
    'images'
    'info'
    'description'
    'review';
}

.product-images {
  grid-area: images;
  justify-self: center;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.product-info {
  grid-area: info;

  margin: 0 1em;
}

.product-description {
  grid-area: description;

  margin: 1em;
}

.product-review {
  grid-area: review;
}

/* Product Images */
.image-box {
  width: 85%;
  box-shadow: $box-shadow;
  position: relative;
  transition: all 0.5s;
  background-color: rgba($color: #ddd, $alpha: 0.2);
}

.image-box::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.image-box__content {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.image-box:hover {
  box-shadow: none;
}

.image-box:hover .image-box__btn {
  opacity: 1;
}

.image-box__btn {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0 0.5em;
  border: none;

  cursor: pointer;
  opacity: 0;

  transition: all 0.5s;
}

.image-box__btn i {
  font-size: 1.5rem;
}

.image-box__btn-prev {
  left: 0;
  background: linear-gradient(to left, transparent, rgba(white, 0.5));
}

.image-box__btn-next {
  right: 0;
  background: linear-gradient(to right, transparent, rgba(white, 0.5));
}

.image-list {
  margin: 1em;
}

.image-item {
  width: 3.5em;
  height: 3.5em;
  margin: 0.25em;
  border-radius: 5px;
  overflow: hidden;

  box-shadow: $box-shadow;
  cursor: pointer;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-item.active img {
  opacity: 0.5;
}

/* Product Information */
.product-info > * + * {
  margin-bottom: 0.5em;
}

.quantity-selector {
  margin: 1.5em 0;
}

.quantity-value {
  border: none;
  width: 2.5em;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
}

.product-description__title {
  margin-bottom: 0.5em;
}

.product-review__product-tag {
  display: inline-flex;
  align-items: center;

  padding: 0.25em 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 5px;

  cursor: pointer;
  transition: all 0.3s;

  background-color: $clr-primary-300;
  color: black;
  font-weight: 400;
}

.product-details__tags-list {
  display: flex;
  flex-wrap: wrap;
}

.product-review__product-tag i {
  font-size: $fs-22;
  margin-right: 0.25em;
}

.product-review__title {
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $screen-md) {
  .product-details {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'images info'
      'description description'
      'review review';
  }

  .image-box {
    width: 70%;
  }

  .product-info {
    margin: unset;
    margin-right: 1em;
  }

  .product-description {
    margin: 2em auto;
    padding: 2em;
    width: 100%;
    max-width: 80%;
    box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.2);
  }
}
