.header-container {
  z-index: 99999;
  transition: all 0.5s;

  &.hide-header {
    top: -60px;
  }
}

.main-header {
  display: grid;
  grid-template-columns: 0.5em 35px 1fr 35px 0.5em;
  grid-template-areas:
    '. brand brand brand .'
    '. nav-toggle search-bar cart .';

  align-items: center;

  padding: 0.75em 0;

  .brand {
    text-align: center;
  }
}

@media (max-width: 374px) {
  .header-container.hide-header {
    top: -50px;
  }
}

@media (min-width: $screen-md) {
  .header-container.hide-header {
    top: 0;
  }
}

@media (min-width: $screen-lg) {
  .header-container.hide-header {
    transform: translateY(0);
  }

  .main-header {
    display: grid;
    grid-template-columns: -webkit-max-content -webkit-max-content 1fr -webkit-max-content;
    grid-template-columns: max-content max-content 1fr max-content;
    grid-template-areas: 'brand nav search-bar info';

    gap: 1em;
  }
}
