.ad-products__add-btn {
  display: flex;
  align-items: center;
}

.ad-products__add-btn i {
  font-size: $fs-26;
  margin-right: 0.25em;
}

.ad-products__name {
  text-decoration: underline;
  color: blue;
}

.ad-products_price::before {
  color: $clr-txt-primary;
}

.ad-products__img {
  min-width: 5em;
  width: 5em;
  height: 7em;
  border-radius: 5px;
  object-fit: cover;
  margin: 0 auto;
}

.ad-products__btn--hide {
  background-color: #ccc;
}

.ad-products__views {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.ad-products__views i {
  margin-right: 0.25em;
}

@media (max-width: 600px) {
  .ad-products__header {
    flex-direction: column;
  }

  .ad-products__title {
    font-size: $fs-22;
    margin-bottom: 0.5em;
  }
}

@media (max-width: 700px) {
  .ad-products__img {
    margin: 0;
  }
}

@media (min-width: $screen-md) {
  .ad-products__id {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ad-products__btn {
    width: 100%;
  }
}
