.header-container {
  z-index: 99999;
  transition: all 0.5s;

  &.hide-header {
    top: -60px;
  }
}

.main-header {
  display: grid;
  grid-template-columns: 0.5em 35px 1fr 35px 0.5em;
  grid-template-areas:
    '. brand brand brand .'
    '. nav-toggle search-bar cart .';

  align-items: center;

  padding: 0.75em 0;

  .brand {
    text-align: center;
  }
}

.search-bar {
  grid-area: search-bar;
  min-width: 200px;

  font-family: inherit;
  font-size: inherit;
  padding: 0.35em 0.75em;
  margin: 0 0.5em;

  border: none;
  border-radius: 20px;
  box-shadow: $box-shadow;
}

.nav-toggle {
  grid-area: nav-toggle;

  font-size: $fs-36;
  color: white;

  cursor: pointer;
}

.mobile-cart {
  grid-area: cart;
}

.cart {
  position: relative;
  top: 3px;
  left: -5px;
  color: white;
  font-size: $fs-22;
}

.cart-notification {
  position: absolute;
  top: -7px;

  font-size: $fs-14;
  text-align: center;

  width: 20px;
  height: 20px;
  background-color: orangered;
  border-radius: 50%;
}

.header-nav,
.header-info {
  display: none;
}

/*********************** 
  * Mobile nav
  ************************/
.mobile-nav {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100vw;
  min-height: 100vh;

  transform: translateX(-100%);
  transition: all 0.5s;

  &.active {
    transform: translateX(0);

    .mobile-nav-blank {
      background-color: rgba($color: #000000, $alpha: 0.8);
    }
  }
}

.mobile-nav-content {
  display: grid;
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;

  background-color: white;
  width: 65%;
  max-width: 350px;
  height: 100vh;

  & a {
    color: $clr-txt-secondary;
  }
}

.mobile-nav-blank {
  background-color: transparent;
  flex-grow: 1;
  height: 100vh;
  transition: all 0.5s;
}

.mobile-nav-header,
.mobile-nav-footer {
  padding: 1em;
  align-items: center;
  justify-content: space-between;

  & a,
  & * {
    color: white;
  }
}

.mobile-nav-close {
  font-size: $fs-34;
  width: 1em;
  text-align: right;
  cursor: pointer;
}

.mobile-nav-main {
  width: 100%;
  height: 100%;
  background: url('../../assets/images/bg_sidebar.jpg');
  background-size: cover;
  background-position: left;
}

.mobile-category-list li {
  margin: 0.75em;
  padding: 0.75em 1.5em;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px grey;
}

.mobile-category-list__link {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 700;
}

.mobile-category-list__link i {
  font-size: $fs-26;
  margin-right: 0.5em;
}

.mobile-nav-user {
  align-items: center;
  margin-right: auto;
}

.mobile-nav-user .bxs-user {
  font-size: $fs-32;
  color: $clr-txt-secondary;
  margin-right: 0.25em;
  padding: 0.25em;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.mobile-nav-user .bx-log-in {
  font-size: $fs-30;
  margin-right: 0.5em;
}

.mobile-nav-footer .bx-log-out {
  font-size: $fs-30 !important;
  position: relative;
  top: 0.125em;
}

@media (max-width: 374px) {
  .header-container.hide-header {
    top: -50px;
  }
}

@media (max-width: 800px) {
  .mobile-nav-content {
    width: 80%;
  }
}

@media (min-width: $screen-md) {
  .header-container.hide-header {
    top: 0;
  }
}

@media (min-width: $screen-lg) {
  .mobile-view {
    display: none;
  }

  .header-container.hide-header {
    transform: translateY(0);
  }

  .main-header {
    display: grid;
    grid-template-columns: -webkit-max-content -webkit-max-content 1fr -webkit-max-content;
    grid-template-columns: max-content max-content 1fr max-content;
    grid-template-areas: 'brand nav search-bar info';

    gap: 1em;
  }

  .header-nav {
    grid-area: nav;
    display: block;
    height: 100%;
  }

  .header-category {
    height: 100%;
    justify-content: center;
  }

  .header-category li {
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 100px;
  }

  .header-category-link {
    font-weight: 700;
    color: white;
    margin: 0 auto;

    position: relative;
  }

  .header-category-link::after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    top: 1.4em;
    left: 0;

    background-color: $clr-primary-400;

    transform: scaleX(0);
    transition: all 0.2s;
  }

  .header-category-link:hover::after {
    transform: scaleX(1);
  }

  .header-info {
    grid-area: info;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .header-info a {
    color: white;
    font-weight: 700;
  }

  .header-info__user {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .search-bar {
    padding: 0.5em 1em;
    outline: none;
  }

  .brand {
    margin-right: 0.25em;
  }

  .cart {
    width: 2em;
  }
}

/* Mobile Navigation */
.mobile-user {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: $clr-primary-300;
  box-shadow: $box-shadow;
  justify-content: space-around;
  align-items: center;
}

.mobile-user__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  // text-shadow: 0 0 5px white;

  i {
    font-size: $fs-26;
  }

  span {
    font-size: 0.875em;
  }
}

@media (min-width: $screen-lg) {
  .mobile-user {
    display: none;
  }
}
