.header-nav {
  display: none;
}

@media (min-width: $screen-lg) {
  .header-nav {
    grid-area: nav;
    display: block;
    height: 100%;
  }

  .header-category {
    height: 100%;
    justify-content: center;
  }

  .header-category li {
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 100px;
  }

  .header-category-link {
    font-weight: 700;
    color: white;
    margin: 0 auto;

    position: relative;
  }

  .header-category-link::after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    top: 1.4em;
    left: 0;

    background-color: $clr-primary-400;

    transform: scaleX(0);
    transition: all 0.2s;
  }

  .header-category-link:hover::after {
    transform: scaleX(1);
  }

  .brand {
    margin-right: 0.25em;
  }
}
