// Common Classes
.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

.page-container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.divider {
  margin: 1em 0;
  border-bottom: 1px grey dashed;
}

.emphasize {
  color: tomato;
}

.bg-primary {
  background: linear-gradient(to top right, $clr-primary-900, $clr-primary-300);
  //background-color: $clr-primary-300;
}
